:root {
    --primary-text-color:#757575;
    --primary-white-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-bg-color: #E5E5E5;
    --accent-color: #2196F3;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --backlights: rgb(62, 0, 128);
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.list{
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

h1,h2,h3,h4,h5,h6,p,ul {
    
    margin: 0;
}
/* header */

.header-container {
    display: flex;
    align-items: center;

    background: var(--primary-white-color);
}

.header-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
}
.accent {
    display: flex;
    margin-right: 93px;
    color: var(--title-text-color);
}

/* site-nav */
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav-header {
    display: inline-block;
}
.site-nav-item:not(:last-child) {
    margin-right: 50px;

}

.site-nav-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
}
.site-nav .link-current {
    color: var(--accent-color);

    text-decoration: none;
}
.site-nav .link-current:hover,
.site-nav .link-current:focus {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--title-text-color);

    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

/* contact */
.contact-list {
    display: flex;
    padding: 0;
    margin-left: auto;

}
.contact-list .mail {
    
}
.contact-list .tel {
    margin-right: auto;
    
}
.contact-list-item:not(:last-child) {
    margin-right: 50px;
    padding: 0;
}
.contact-list-item {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.contact-list-item .mail,
.contact-list-item .tel {
    color: var(--primary-text-color);

    text-decoration: none;
}
.contact-list-item .mail:hover,
.contact-list-item .mail:focus {
    color: var(--accent-color);
}
.contact-list-item .tel:hover,
.contact-list-item .tel:focus {
    color: var(--accent-color);
}

/* hero */
.hero-title {
    align-content: center;
    margin: 0;
    
    padding-bottom: 30px;

    color: var(--primary-white-color);

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
}

/* button */

.hero-button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    border: 0ch;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--primary-bg-color);

    font-family: inherit; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
}


/* section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* features */
.features-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.features-list-item {
    padding: 0;
    width: 270px;
}
.features-list-item:not(:last-child) {
    margin-right: 30px;;
}

.features-title {
    margin-bottom: 10px;
    padding: 0;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* benefits */
.benefits-section {
    padding-top: 0;
    padding-bottom: 94px;
    margin: 0;
}
.benefits-title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.benefits-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.benefits-list-item:not(:last-child) {
    margin-right: 30px;
}

/* team */

.team-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
        
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.team-list-item:not(:last-child) {
    margin-right: 30px;
}
.team-section-title{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .name {
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team .position {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

/* footer */
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    background-color: #2F303A; 
}

/* adress */
.footer-logo {
    margin-bottom: 20px;
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    
    text-decoration: none;
}
.logo-footer{
    margin-bottom: 20px;
}

.accents {
    color: var(--primary-white-color);
}
.footer-list {
    padding: 0;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.adress .adressa {
    color: var(--primary-white-color);
    font-style: normal;

    text-decoration: none;
}
.adress .adressa:hover,
.adress .adressa:focus {
    color: var(--accent-color);
}
.adress .mail {
    color: var(--secondary-text-color);
    font-style: normal;

    text-decoration: none;
}
.adress .mail:hover,
.adress .mail:focus {
    color: var(--accent-color);
}
.adress .tel {
    color: var(--secondary-text-color);
    font-style: normal;

    text-decoration: none;
}
.adress .tel:hover,
.adress .tel:focus {
    color: var(--accent-color);
}

/* portfolio */

/* work */
.work-section {
    padding-top: 94px;
    margin: 0;
}
.work-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
    
}
.work-list-item:not(:last-child){
    margin-right: 8px;
}
.work-btn {
    
    padding: 6px 22px;

    border: 0ch;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
    
.work-btn:hover,
.work-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}  
.work .variant {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* examples */
.examples-section {
    padding-bottom: 114px;
    margin: 0;
}
.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

    margin: 0;
    padding: 0;
}

.examples-title-list {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.examples-title{
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.examples-name {
    
    color: var(--primary-text-color);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}


/* колір основного тексту #212121 */
/* вторинний колір #757575 */
/* додатковий колір rgba(255, 255, 255, 0.6) */
/* білий колір #FFFFFF */
/* акцент #2196F3 */

/* колір фону #E5E5E5 */

